<!--
<article>
    <button (click)="changeEditable()">Éditer</button>
    <ng-container *ngIf="estEditable" >
        Nom : <input [(ngModel)] = biere.nom>
        Brasserie : <input [(ngModel)] = biere.brasserie>
        Date d'ajout : <input [(ngModel)] = biere.date_ajout>
        Date de modification : <input [(ngModel)] = biere.date_modif>
        Actif : <input [(ngModel)] = biere.actif>
    </ng-container>
    <ng-container *ngIf="!estEditable">
        <span>{{biere.nom}}</span>
        <span>{{biere.brasserie}}</span>
       
    </ng-container>
    <a routerLink="/biere/{{biere.id_biere}}/">Détail</a>
</article>
-->